.section-three{
    background: white;
    padding-bottom: 131px;

    .slider{
        max-width: 1540px;
        height: 592px;
        display: flex;
        margin: 0px auto;
        overflow: hidden;
        z-index: 2;
    

        .slider-menu{
            padding-left: 77px;
            min-width: 381px;
            width: 381px;
            margin-right: 75px;

            .title-container{
                min-height: 365px;
            }

            h1{
                padding-top: 143px;
                margin: 0;
                margin-bottom: 24px;
                line-height: 44px;
                width: 290px;
                font-size: 32px;
                font-weight: bold;
                color: #21272e;
            }

            h4{
                margin: 0;
                font-size: 18px;
                font-weight: 500;
                line-height: 1.67;
                color: #787c80;
            }

            .select-container{
                margin-top: 80px;
                display: flex;

                button{
                    cursor: pointer;
                    width: 48px;
                    height: 48px;
                    border: solid 1px #dae1e8;
                    background-color: #f0f1f2;
                    border-radius: 50%;
                    z-index: 10;
                    padding: 0;
                    

                    img{
                        width: 24px;
                        height: 24px;
                        margin-top: 5px;
                    }

                    .left-icon{
                        transform: scaleX(-1)
                    }
                }

                button:hover{
                    background-color:white;
                }

                button:focus {
                    outline:0;
                }

                .slider-dots{
                    display: flex;
                    list-style: none;
                    width: 90px;
                    padding: 0;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                }

                span{
                    cursor: pointer;
                    width: 18px;
                    height: 18px;
                    z-index: 10;

                    .dot{
                        margin: 6px;
                        width: 6px;
                        height: 6px;
                        background-color: #f0f1f2;
                        border-radius: 50%;
                        
    
                        &:hover{
                            background-color: rgba(33, 39, 46, 0.15);
                        }
                        &.active{
                            background-color: #21272e;
                            transform: scale(1);
                            animation: pulse-black 2s infinite;
                        }
                        
                        @keyframes pulse-black {
                            0% {
                                transform: scale(0.95);
                                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
                            }
                            
                            70% {
                                transform: scale(1);
                                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
                            }
                            
                            100% {
                                transform: scale(0.95);
                                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                            }
                        }
                    }
                }  
            }
        }

        .slider-image{
            height: 592px;
            width: 1000px;
            background: #fcede8;
            flex-shrink: 0;
            border-radius: 50px;
            position: relative;
            z-index: 2;

            .image-container{
                width: 100%;
                height: 100%;
                position: relative;

                img{
                    position: absolute;
                    height: 546px;
                    width: 98%;
                    margin-top: 46px;
                    margin-left: -20px;
                }

                .carousel-image1{
                    position: absolute;
                    height: 510px;
                    width: auto;
                    margin-top: 44px;
                    margin-left: 48px;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .section-three{
        padding-bottom: 61px;
    
        .slider{
            max-width: 100%;
            height: auto;
            flex-direction: column-reverse;
            margin-left: 68px;

            .slider-menu{
                display: flex;
                margin-top: 40px;
                padding: 0px;

                h1{
                    padding-top: 0;
                }

                h4{
                    width: 381px;
                }

                .title-container{
                    margin-right: 95px;
                    min-height: 0;
                }
                .select-container{
                    margin-top: 8px;

                    .slider-dots{
                        align-items: flex-start;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}