footer{
    background: #21272e;
    height: 146px;


    .information{
        display: flex;
        align-items: center;
        padding-top: 50px;

        a{
            z-index: 10;
        }
        
        nav{
            margin-bottom: 7px;
        }

        nav, .social-media{
            z-index: 10;
    
            &::before{
                content: '';
                position: absolute;
                width: 1px;
                height: 24px;
                opacity: 0.2;
                background-color: white;
            }
    
            a{
                margin-left: 24px;
                font-size: 12px;
                color: white;
                text-decoration: none;

                &:last-child{
                    margin-right: 24px;
                }
            }
    
            a:hover{
                color: #3897ff;
            }
        }

        .application{
            margin: 0 0 0 auto;
            

            a:last-child{
                margin-left: 16px;
            }
        }
    }
}