footer{
    background: #21272e;
    height: 146px;


    .information{
        display: flex;
        align-items: center;
        padding-top: 50px;

        a{
            z-index: 10;
        }
        
        nav{
            margin-bottom: 7px;
        }
        
        .right-reserved{
            position: absolute;
            bottom: 12px;
            font-size: 11px;
            font-weight: 500;
            line-height: 15px;
            color: rgba(255, 255, 255, 0.25);
            margin-left: 10px;
        }

        nav, .social-media{
            z-index: 10;
    
            &::before{
                content: '';
                position: absolute;
                width: 1px;
                height: 24px;
                opacity: 0.2;
                background-color: white;
            }
    
            a{
                margin-left: 24px;
                font-size: 12px;
                color: white;
                text-decoration: none;

                &:last-child{
                    margin-right: 24px;
                }
            }
    
            a:hover{
                color: #3897ff;
            }
        }

        .application{
            margin: 0 0 0 auto;
            

            a:last-child{
                margin-left: 16px;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    footer{
        height: 193px;
        .information{
            flex-wrap: wrap;            
            nav{
                width: 80%;
            }
            .right-reserved{
                margin-left: 15px;
                position: inherit;
                bottom: 45px;
                margin-right: 24px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    footer{
        height: 546px;
        .information{
            padding-top: 48px;
            flex-direction: column;      
            .logo-container{
                padding-bottom: 40px;
                height: 48px;
            }      
            nav{
                flex-direction: column;
                display: flex;
                align-items: center;
                &::before{
                    content: '';
                    display: none;
                }
                a{
                    padding-bottom: 24px;

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            .social-media {
                &::before{
                    content: '';
                    display: none;
                }
                a:last-child{
                    margin-right: 0;
                }
            }
            .right-reserved{
                margin-left: 0;
                margin-right: 0;
                position: absolute;
                bottom: 16px;
            }
            .application{
                margin: 20px auto;
            }
        }
    }
}